<a href="https://colab.research.google.com/github/LaimeJubelEllacanao/PLNG211-QC/blob/main/ControlandLoppingStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#If statement

a = 12
b = 100

if a<b:
  print("a is less than b")

a is less than b

In [3]:
#elif statement
a = 100
b = 12

if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")

a is greater than b

In [5]:
#else statement

a = b;

if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

In [6]:
#Short hand If Statement

c = 10
d = 5

if c>d: print("c<d")

c<d

In [7]:
#Short hand If.. else Statement

print('c>d') if c>d else print ('d>c')

c>d

In [9]:
#and Statement

if 10<5 and 8>4:
  print("both statements are true")
else:
  print('one of the statement is false / both statements are not true')

one of the statement is false / both statements are not true

In [11]:
#or Statement

if 2<1 or 8<4:
  print("True")
else:
  print("False")

False

In [12]:
#Bitwise Operator ^ (xOR)

e = 4     #0100
f = 2     #0010

e^f

6

In [19]:
#Nested If statement

x = 39

if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
          print("number is above 50")
        else:
          print("number is less than 50")
      else:
          print("number is less than 40")

number is above 10
number is above 20
number is above 30
number is less than 40

In [27]:
#Application 1
#Write a program that detemines if the input age is qualified to vote or not
#The qualifying age is 18 yrs old and above

print("Age: ")
age = input()
if int(age) >= 18:
  print("Qualified to vote")
else:
  print("Not qualified to vote")

Age:
20
Qualified to vote

In [48]:
#Application 2
#Write a program that determines if the input is POSITIVE, NEGATIVE, or Zero

print("Enter a number: ")
num = input()
if int(num) > 0:
  print("POSITIVE")
elif int(num) < 0:
  print("NEGATIVE")
elif int(num) == 0:
  print("ZERO")

Enter a number:
0
ZERO

In [29]:
#For loop Statement

week = ["Sunday", "Monday", "Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]

for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [31]:
#Looping through string

for x in "hello":
  print(x)

h
e
l
l
o

In [32]:
#range() function

for x in range(6):
  print(x)

0
1
2
3
4
5

In [37]:
for x in range(5,10-1):
  print(x)

5
6
7
8

In [40]:
#Nested Loops

adj = ["red", "big", "tasty"]
fruits = ["apple", "banna", "cherry"]

for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banna
red cherry
big apple
big banna
big cherry
tasty apple
tasty banna
tasty cherry

In [44]:
i = 1

while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [45]:
i = 1

while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [49]:
#Using while loop and break statement, the output is only 3

while i<6:
  if i == 3:
    print(i)
    break
  i+=1

3