<a href="https://colab.research.google.com/github/LaimeJubelEllacanao/PLNG211-QC/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operatos

In [ ]:
a=5
b=4
print(10>9)
print(4>5)
print(5==4)
print(a!=b)

True
False
False
True

Bool() Function

In [ ]:
print(bool(15))
print(bool("Champ"))

print(bool(0))
print(bool(None))
print(bool(False))

True
True
False
False
False

Function that returns a Boolean

In [ ]:
def my_function():
  return True

print(my_function())
if(my_function()):
  print("Yes!")
else:
  print("No!")

def false():
  return False

print(false())

True
Yes!
False

Application 1

In [ ]:
a = 6
b = 7

print(a==b)
print(a!=a)

False
False

Python Operators

In [24]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 3)
print(10 % 4)
print(10 // 3)#Whole Number in quotient
print(10**2)#Power
15//4

15
5
50
3.3333333333333335
2
3
100

3

Bitwise Operators

In [28]:
#number of digits must be equal / required

#c = 0011 1100 #16 in decimal
#d = 0000 1101 #13 in decimal
c = 60
d = 13

c & d #Answer is still in decimal but computed through binary
c ^ d

49

Assignment Operators

In [36]:
x=2
x+=3
print("x+=3 =", x)

x+=3 = 5

Logical Operator

In [43]:
print((7==3) and (4>2)) #Need both 2 true expressions to be true(output)
print((7>3) and (4>2))

k = (7==3) and (4>2)
p = (7>3) and (4>2)
print(k)
print(p)

print((2>3)) or (4>3) #Atleast 1 true output is true

False
True
False
True
False

True

Identity Operators

In [45]:
print(4 is 3)
print(7 is not 7)

False
False

Conditional Statements

In [ ]:
#Python has no do while loop and switch cases